<%= image_tag "illy-logo.jpg", :id => "logo" %>


<ul id=main-image-list>
	<li><%= image_tag "LeSoukMercy1.png" %></li>
	<li><%= image_tag "LeSoukMercy3.png" %></li>
	<li><%= image_tag "LeSoukMercy4.png" %></li><br>
	<li><%= image_tag "LeSoukMercy5.png" %></li>
	<li><%= image_tag "LeSoukMercy6.png" %></li>
	<li><%= image_tag "LeSoukMercy9.png" %></li>

</ul>